{% extends "base.html" %}


{% block content %}
<h1>Note List TEST</h1>
        {% if booling %} <p class="green">IT'S WORKING</p>{% else %}<p class="red">Not Working</p> {% endif %}
    <form>
        {{ form }}
        <input type="submit" value="Submit" class="button" />
        {{ exec }}
    </form>
    {% if note_list %}
    <ul>
      {% for Note in page_obj %}
      <li class="note-list">
          <ul class="note-ul">
                <li class="name"><a class="note-link" href="{{ Note.get_absolute_url }}">{{ Note.name }}</a></li>
                <li><p class="list-main-field"> Main Field: {{ Note.main_field }} </p></li>
                <li><p class="list-add-field"> Additional Field: {{ Note.add_field }} </p></li>
          </ul>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no notes there.</p>
    {% endif %} 

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}